name: atmos
description: Minimal Jotai-inspired state management for Flutter with atoms.
version: 0.1.0-dev
homepage:

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
